*.db
*.egg-info
*.session
*.tar
*.zip
*.rar
*.log
logs/
*.pyc
*.tar.xz
alembic.ini
build/
dist/
node_modules/
.env
.vscode
venv/
test/
teste/
.pytest_cache
__pycache__/
.vscode
alembic
*.idea
.venv
.idea
tests
uploads/